#Adds travis support to check code for errors

language: python
python: 
 - "3.6"

before_install:
  - gem install mdl
notifications:
  email: never

install:
  - pip3 install --upgrade pip
  - python3 -m pip install -r requirements.txt
  - pip3 install autopep8
  - pip3 install coveralls
  - pip3 install pytest-flake8
  - pip3 install pytest-cov

script:
  - mdl README.md
  - pytest tests
  - coverage run --source tests -m py.test 
  - coverage report

after_success:
    coveralls
